*{
  color:#ffffff;
  font-family:'AndaleMono', monospace;
  font-weight:bold;
  font-size:18px;
  letter-spacing:0.15em;
}

body{
  background-color:#000000;
  padding-left:30px;
}

.container{
  height:100%;
  min-height:100vh;
}

.command{
  display:block;
  width:100%;
}

input[type="text"]{
  background:#000000;
  border:none;
  margin-left:5px;
  outline:none;
  text-shadow:0 0 2px rgba(255, 248, 225, 0);
  white-space:pre-wrap;
  width:90%;
}

.output{margin:5px 0px;}
