.stats-box .serial-box{
    height:auto;
    background: transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
}

  /* Apply nth-child to the column (parent) */
.stats-box:nth-child(odd) .serial-box:hover {
    background: transparent;
    box-shadow: 10px 10px rgba(21, 140, 147, 1);
}

.stats-box:nth-child(even) .serial-box:hover {
    background: transparent;
    box-shadow: 10px 10px rgba(210, 215, 227, 1) !important;
}

.navbar-top-default .navbar-nav .nav-link {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.img-fluid.card-fixed{
  height:250px;
}
